{
  "flower_name":"pansy",
  "pool_data_list":[
    {"g":"110","t":1},
    {"g":"111","t":1},
    {"g":"112","t":1},
    {"g":"220"},
    {"g":"221"}
  ],
  "own_gene_list":[
    "001",
    "020",
    "200",
    "110",
    "002",
    "011",
    "101",
    "111",
    "000",
    "010",
    "100",
    "202",
    "102",
    "201"
  ]
}
